.idea
tracker-app-output
remote-app-output
temp
desktop-app
opencv-demo
Remote
Task3
face-detection-opencv-js
playground
*/.idea
flask-server/__pycache__
*/__pycache__
.vscode/.ropeproject/config.py
.vscode/settings.json

